{% extends "croacia/croacia.html" %}

{% block section %}
{% block split %}{% endblock %}
<p class="croacia">Split ([splît]ⓘ, en griego antiguo: Ασπάλαθος, Aspálathos; en latín: Spalatum; en italiano: Spalato)
    es una ciudad situada al sur de Croacia, puerto marítimo de la costa dálmata, en el mar Adriático. Cuenta con 221
    456 habitantes, según el censo de 2007.

    Es la principal ciudad de la región de Dalmacia, la capital del condado de Split-Dalmacia y la segunda ciudad más
    populosa del país, después de Zagreb, de la que dista 380 km. Es un importante puerto pesquero y base naval del
    Adriático, así como un centro cultural y turístico importante; la ciudad antigua es una joya arquitectónica,
    declarada Patrimonio de la Humanidad en 1979. En su entorno existen astilleros, fábricas de cemento y de plástico,
    industrias madereras, vitivinícolas y de la alimentación.</p>
{% endblock %}