{% extends "croacia/croacia.html" %}

{% block section %}
{% block zagreb %}{% endblock %}
<p class="croacia">Zagreb (pronunciación en serbocroata: [zǎːɡreb] (escucharⓘ)) es la capital y ciudad más poblada de
    Croacia. Está localizada al noroeste del país, entre el río Sava y la ladera sur del monte Medvednica, a unos 122 m
    s. n. m. Dentro de su término municipal residen más de 850 000 habitantes en 2018, lo que la convierte en la cuarta
    ciudad más grande de Europa Sudoriental y en la segunda por extensión. Si se tienen en cuenta las poblaciones
    limítrofes, la cifra del área pequeña metropolitana asciende a 1 100 000 personas empadronadas.

    La zona sobre la que se asienta Zagreb está habitada desde el Imperio romano. El yacimiento más antiguo que se ha
    localizado es la ciudad romana de Andautonia, situada a 10 km de la actual capital. El término «Zagreb» fue
    registrado por primera vez en 1134 para referirse a la archidiócesis de Zagreb, fundada en 1094,5​ si bien durante
    siglos hubo dos pueblos distintos: Gradec —con bula de oro desde 1242— y Kaptol, donde se hallaba la catedral. Ambas
    localidades se fusionaron en 1851 por orden del ban Josip Jelačić para formar la ciudad actual.5​</p>

{% endblock %}