{% load static %}
<html>

<head>
    <title>Caseta Las Barcas</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-transparent">
        <div class="container-fluid">
            <!-- <img class="logo" src="{% static '/images/logo.jpg' %}"> -->
            <a class="navbar-brand" href="#">Caseta Las Barcas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="historia">Historia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="menu">Menú</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="reservas/crear">Reservas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="galeria">Galeria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </main>
    <script>
        window.addEventListener('scroll', function () {
            const navbar = document.querySelector('.navbar');
            if (window.scrollY > 50) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        });
    </script>
</body>

<div class="wrapper">
    <footer class="footer">
        {% block footer %}
        <p>Avenida de la concha, Ciudad Rodrigo, Salamanca, España</p>
        <p>casetalasbarcas@gmail.com</p>
        <p>+34 630 65 50 21</p>
        <p>
            Síguenos en:
            <a href="#" target="_blank">Instagram</a>
            <a href="https://www.facebook.com/marimar.blancogarcia.3/" target="_blank">Facebook</a>
        </p>
        {% endblock %}
    </footer>
</div>

</html>