{% load static %}
<html>

<head>
    <title>Caseta Las Barcas</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
            <a href="/"><img class="logo" src="{% static '/images/favicon.ico' %}" alt="Logo"></a>
            <a class="navbar-brand" href="/">Caseta Las Barcas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/historia">Historia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/menu">Menú</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reservas/crear">Reservas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/noticias">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-light" href="/contacto">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <main class="contenedor-general">
        <div class="content container" data-aos="fade-up">
            <div class="row">
                <div class="col-12">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    <script src="{% static 'js/lightbox.js' %}"></script>
    <script src="https://static.elfsight.com/platform/platform.js" async></script>
</body>

<div class="wrapper">
    <footer class="footer contenedor-general text-white py-4">
        {% block footer %}
            <div class="container">
                <div class="row">
                    <!-- Información de Contacto -->
                    <div class="col-md-4 mb-3">
                        <h5>Contacto</h5>
                        <p>Avenida de la Concha, Ciudad Rodrigo, Salamanca, España</p>
                        <p>Email: <a href="mailto:casetalasbarcas@gmail.com" class="text-white">casetalasbarcas@gmail.com</a></p>
                        <p>Teléfono: <a href="tel:+34630655021" class="text-white">+34 630 65 50 21</a></p>
                    </div>
                    
                    <!-- Redes Sociales -->
                    <div class="col-md-4 mb-3">
                        <h5>Síguenos</h5>
                        <a href="https://www.instagram.com/casetalasbarcas/" target="_blank" class="image text-white me-3">
                            <img src="{% static '/images/instagram.jpg' %}" class="icono">
                        </a>
                        <a href="https://www.facebook.com/marimar.blancogarcia.3/" target="_blank" class="image text-white me-3">
                            <img src="{% static '/images/facebook.jpg' %}" class="icono">
                        </a>
                    </div>
        
                    <!-- Enlaces rápidos -->
                    <div class="col-md-4 mb-3">
                        <h5>Enlaces</h5>
                        <ul class="list-unstyled">
                            <li><a href="/" class="text-white">Inicio</a></li>
                            <li><a href="/historia" class="text-white">Historia</a></li>
                            <li><a href="/menu" class="text-white">Menú</a></li>
                            <li><a href="/reservas/crear" class="text-white">Reservas</a></li>
                            <li><a href="/contacto" class="text-white">Contacto</a></li>
                        </ul>
                    </div>
                </div>
                <hr class="text-white">
                <div class="text-center">
                    <p class="mb-0">© 2024 Caseta Las Barcas. Todos los derechos reservados.</p>
                </div>
            </div>


        {% endblock %}
    </footer>
</div>

</html>