{% extends "blog/base.html" %}

{% block content %}
<h1>Galería de Fotos</h1>
<div id="carruselRestaurante" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for imagen in imagenes %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ imagen.imagen.url }}" class="d-block w-100" alt="{{ imagen.titulo }}">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{ imagen.titulo }}</h5>
                <p>{{ imagen.descripcion }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carruselRestaurante" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carruselRestaurante" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock %}
