{% extends "españa/espana.html" %}

{% block section %}
{% block barcelona %}{% endblock %}
<p class="espana">Barcelona es una ciudad española, capital de la comunidad autónoma de Cataluña, de la provincia
    homónima y de la comarca del Barcelonés. Con una población de 1 660 435 habitantes a enero de 2023,7​8​ es la
    segunda ciudad más poblada de España y de la península ibérica después de Madrid, y la décima de la Unión Europea.
    Su ámbito metropolitanonota 1​ cuenta con una población de 5 575 204 habitantes según Eurostat,9​ siendo así la
    quinta aglomeración urbana de mayor población y la más densamente poblada de la Unión Europea.10​11​

    Cuenta con un PIB nominal de 142 223 millones € y un PIB per cápita nominal de 30 619 €, lo que representa un PIB
    PPA per cápita de 36 240 €,12​ siendo la segunda área metropolitana española en actividad económica y la
    decimoséptima europea después de Londres, París, Rin-Ruhr, Ámsterdam, Milán, Bruselas, Moscú, Fráncfort del Meno,
    Múnich, Madrid, Berlín, Viena, Roma, Copenhague, Estocolmo y Birmingham. Es, con diferencia, la ciudad más turística
    de España —con más de 12 millones de turistas y 35 millones de pernoctaciones en 2023— y la más popular entre el
    visitante extranjero, que supuso el 80,8% del total de visitantes ese mismo año.13​

    Se ubica a la orilla del mar Mediterráneo, a unos 120 km al sur de la cadena montañosa de los Pirineos y de la
    región francesa de Occitania, en un pequeño llano litoral limitado por el mar al este, la sierra de Collserola al
    oeste, el río Llobregat al sur y el río Besós al norte. Por haber sido capital del condado de Barcelona, se suele
    aludir a ella con la denominación antonomástica de «ciudad condal».</p>

{% endblock %}