{% extends "españa/espana.html" %}
{% block section %}
{% block madrid %}{% endblock %}
<p class="espana">Madrid es un municipio de España. La localidad, con categoría histórica de villa,9​ es la capital del
    Estado10​ y de la Comunidad de Madrid. En su término municipal, el más poblado de España, están empadronadas 3 280
    782 personas (INE 2022), constituyéndose como la segunda ciudad más poblada de la Unión Europea, así como su área
    metropolitana, con 6 779 888 habitantes empadronados.11​12​13​14​15​nota 1​

    Cuenta con un PIB nominal de 133 129 millones de euros —el 12 % del PIB nacional— y un PIB per cápita nominal de 41
    600 € (2018), siendo la 1.ª área metropolitana española en actividad económica −19 % del PIB.16​ Es también la
    primera en más pernoctaciones hoteleras.17​

    Como capital de España, alberga las sedes del Gobierno de la Nación y sus departamentos ministeriales, de las Cortes
    Generales (Congreso de los Diputados y Senado), del Tribunal Supremo y del Tribunal Constitucional, así como la
    residencia oficial de los reyes de España18​ y del presidente del Gobierno.

    En el plano económico, según el informe realizado por PwC sobre la evolución de la población y la economía de las
    principales capitales mundiales en 2009, es la cuarta ciudad más rica de Europa en PIB per cápita medido en términos
    de paridad de poder de compra, tras Londres, París y Moscú.19​ En 2009, el 50,1 % de los ingresos de las 5000
    principales empresas españolas son generados por sociedades con sede social en Madrid, que suponen el 31,8 % de
    ellas.20​ Es sede del 4.º mayor mercado de valores de Europa,21​ 2.º en el ámbito iberoamericano (Latibex), y de
    varias grandes corporaciones.22​23​ Es la 8.ª ciudad del mundo con mayor presencia de multinacionales.24​25​</p>

{% endblock %}

