{% extends "españa/espana.html" %}

{% block section %}
{% block sevilla %}{% endblock %}
<p class="espana">Sevilla es un municipio y una ciudad de España, capital de la provincia homónima y de Andalucía.6​
    Contaba con 684 164 habitantes en 2023,7​ por lo que es la ciudad más poblada de Andalucía, la cuarta de España
    según los datos oficiales del INE.8​ El municipio tiene una superficie de 141,4 km².9​ El área metropolitana de
    Sevilla está compuesta por 46 municipios, incluye a una población de 1 548 741 habitantes (INE 2020) y ocupa una
    superficie de 4905,04 km².10​ Sevilla, al disponer de su Real Alcázar, es una de las cuatro ciudades donde la
    familia real española tiene residencia oficial, junto con Madrid, Barcelona y Palma.

    Su casco antiguo, con 3,9 km²,11​ es el más extenso de España y el sexto más grande de Europa, tras los de Roma
    (14,6 km²),12​ Nápoles (10,3 km²),13​ Venecia (7,6 km²),14​ Florencia (5,5 km²)15​ y Génova (4,1 km²).16​ Sevilla es
    una de las ciudades con más monumentos catalogados en Europa. Su casco histórico es uno de los mayores de España17​
    (nótese la diferencia entre casco antiguo, que solo incluye la zona histórica anterior a la Revolución Industrial, y
    casco histórico, que abarca estadios posteriores). Su patrimonio histórico y monumental y sus diversos espacios
    escénicos y culturales la constituyen en ciudad receptora de turismo nacional e internacional. Es la tercera ciudad
    de España por número de visitantes, tras Barcelona y Madrid. Entre sus monumentos más representativos se encuentran
    la catedral (que incluye la Giralda), el Alcázar, el Archivo de Indias y la Torre del Oro, los tres primeros
    declarados Patrimonio de la Humanidad por la Unesco en 1987.18​</p>

{% endblock %}