
body{
    background-color: beige;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-weight: 400;

}

ul{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: rgb(34, 176, 201);
    color: white;
    align-items: center;
    padding: 10px;
}

ul a{
    font-weight: 600;
    padding-right: 10px;
}

ul a:hover{
    color: white;
}

.espana{
    color: red;
}

.irlanda{
    color: green;
}

.croacia{
    color: blue;
}

footer{
    background-color: rgb(34, 176, 201);
    padding: 20px 0;
    text-align: center;
}

footer a{
    font-family: sans-serif;
    font-weight: 600;
    font-size: large;
}

table{
    color: slateblue;
    background-color: black;
}