{% extends "irlanda/irlanda.html" %}

{% block section %}
{% block cork %}{% endblock %}
<p class="irlanda">Cork (/kɔːrk/ irlandés: Corcaigh [ˈkoɾkɪɟ], derivado de corcach, 'marisma') es una ciudad en la República de Irlanda, capital del condado homónimo, en la provincia de Munster. Con una población de 125,622 habitantes en 2016,1​ a raíz de una extensión de los límites de la ciudad en 2019, esta cifra ha incrementado a aproximadamente 210.000 habitantes. Es la segunda ciudad más poblada del país, detrás de Dublín, y la tercera de la isla después de Belfast.

    Cork está construida sobre el río Lee, que por un corto tramo se bifurca en dos canales, creando una isla en la que se levanta el centro de la ciudad. El puerto de Cork es el segundo puerto más importante del país y uno de los puertos naturales más grandes del mundo.2​</p>

{% endblock %}