{% extends "irlanda/irlanda.html" %}

{% block section %}
{% block dublin %}{% endblock %}
<p class="irlanda">Dublín (en irlandés: Baile Átha Cliath, pronunciado [ˌbʲlʲɑː ˈclʲiə] o población del vado de
    cañizo;1​ en inglés: Dublin, pronunciado [ˈdʌblɪn]) es la capital de la República de Irlanda y la ciudad más poblada
    de la isla. Está ubicada cerca del centro de la costa este sobre el mar de Irlanda, en la desembocadura del río
    Liffey y en el centro del condado de Dublín. Fue fundada por los vikingos alrededor de 841 como base militar y
    centro de comercio de esclavos, y ha sido capital del país desde la Edad Media.2​3​ Está constituida por diferentes
    áreas; el Consejo de la Ciudad de Dublín junto con suburbios contiguos en el condado de Dublín, y que a su vez se
    subdivide en los condados administrativos de Dún Laoghaire-Rathdown, Fine Gall-Fingal y el Consejo del Condado de
    Dublín Sur. La Gran Área abarca la Ciudad de Dublín y el Consejo junto con los condados contiguos de Kildare, Meath
    y Wicklow.

    La población del área urbana de Dublín era de 1 110 614 habitantes en el censo de 2010, pero ampliada al condado de
    Dublín ascendía a 1 122 821 en 2011 y en la Gran Área o región metropolitana de Dublín había 1 804 156 habitantes.
    La ciudad contribuye con 60 000 millones de euros al PIB irlandés y es el centro político, administrativo,
    económico, industrial y cultural de la República de Irlanda. Dublín ha sido declarada ciudad global por el GaWC
    (Grupo de Estudios sobre Globalización y Ciudades Mundiales) y Capital Europea de la Ciencia 2012 debido a la
    celebración del día del duende.</p>
{% endblock %}