{% extends "irlanda/irlanda.html" %}

{% block section %}
{% block galway %}{% endblock %}
<p class="irlanda">Galway (en irlandés: Gaillimh) o Galvia es la capital del condado de Galway, en Irlanda. La ciudad se
    encuentra en la costa oeste de la isla, en el rincón noroccidental de la bahía de Galway. El río Corrib atraviesa la
    ciudad. Juvenil y dinámica, es una de las ciudades con más crecimiento económico de la Unión Europea, con una
    población de 79.504 habitantes (según el censo de 2016), aumenta constantemente con la llegada de estudiantes a sus
    dos universidades, la National University of Ireland, Galway y la GMIT.</p>

{% endblock %}